apiVersion: v2
name: spv-wallet
description: A Helm chart for SPV Wallet
type: application
version: 0.1.1
appVersion: "v0.18.0"
dependencies:
  - name: spv-wallet-admin-keygen
    condition: spv-wallet-admin-keygen.enabled
    version: 0.1.0
  - name: postgresql
    condition: postgresql.enabled
    version: 13.2.0
    repository: https://charts.bitnami.com/bitnami
  - name: redis
    condition: redis.enabled
    version: 18.2.0
    repository: https://charts.bitnami.com/bitnami
