apiVersion: v2
name: spv-wallet
description: A Helm chart for SPV Wallet
type: application
version: 0.8.3
appVersion: "v1.0.0-beta.13"
dependencies:
  - name: spv-wallet-admin-keygen
    condition: spv-wallet-admin-keygen.enabled
    version: 0.8.3
  - name: postgresql
    condition: postgresql.enabled
    version: 13.2.0
    repository: https://charts.bitnami.com/bitnami
  - name: redis
    condition: redis.enabled
    version: 18.2.0
    repository: https://charts.bitnami.com/bitnami
