### SPV Wallet configuration
global:
  domainName: "example.com"
  adminkeySecret: spv-wallet-keys
  pubkey: admin_xpub
  prvkey: admin_xpriv
  ingress:
    # Class name for ingress controller, currently supported controllers are traefik and alb
    # when using traefik, you will need to take care of generating TLS certificates, for example with cert-manager
    className: "alb"
    # Additional annotations for Ingress
    additionalAnnotations: {}
    # AWS certificate ARN used when ALB is used as ingress controller
    certificate_arn: ""
    # custom ingress paths defitions
    # example:
    # customPaths:
    #   - path: /swagger
    #     backend:
    #       service: my-404-service
    #       port:
    #         number: 80
    customPaths: []

replicaCount: 1

image:
  repository: bsvb/spv-wallet
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: ""

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Automatically mount a ServiceAccount's API credentials?
  automount: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

podAnnotations: {}
podLabels: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

containerPort: 3003

service:
  type: ClusterIP
  port: 80

domainName: test.com
certificate_arn: arn:aws:acm:eu-central-1:1234567890123:certificate/0d5e96d9-4670-4779-bc39-e9d9a77ff0de

config:
  auth:
    # xpub used for admin api authentication
    admin_key: ""
    # require checking signatures for all requests which was registered with RequireAuthentication method
    require_signing: false
    # authentication scheme - xpub => using xPubs as tokens, currently the only option
    scheme: xpub
    # disable signing for all requests !!! Use only for development !!!
    signing_disabled: true
  cache:
    cluster:
      # cluster coordinator - redis/memory
      coordinator: memory
      # prefix for channel names
      prefix: spv_wallet_cluster_
      redis: ""
    # cache engine - freecache/redis
    engine: redis
    redis:
      dependency_mode: true
      max_active_connections: 0
      max_connection_lifetime: 1m0s
      max_idle_connections: 10
      max_idle_timeout: 10s
      use_tls: false
  db:
    datastore:
      # enable datastore debug mode
      debug: false
      # datastore engine - sqlite/postgres
      engine: postgresql
      # prefix for all tables
      table_prefix: xapi
    sql:
      debug: false
      driver: postgresql
      max_connection_idle_time: 0s
      max_connection_time: 0s
      max_idle_connections: 0
      max_open_connections: 0
      # it must be set here at least as empty otherwise we won't be able to override it with env
      password: ""
      port: "5432"
      replica: false
      skip_initialize_with_version: true
      table_prefix: "xapi"
      time_zone: UTC
      tx_timeout: 10s
  # enable debug mode
  debug: true
  # enable endpoints that provides profiling information
  debug_profiling: true
  # enable (ITC) incoming transaction checking
  disable_itc: true
  nodes:
    # deployment id used annotating api calls in XDeployment-ID header - this value will be randomly generated if not set
    deployment_id: ''
    callback:
      # set token to authenticate callback calls, by default callback token will be generated
      callback_token: ''
    # use fee quotes for transaction fee calculation
    use_fee_quotes: true
    # used as the fee value if 'use_fee_quotes' is set to false
    fee_unit:
      satoshis: 1
      bytes: 1000
  notifications:
    enabled: false
    # url to send notifications
    webhook_endpoint: ''
  paymail:
    beef:
      use_beef: true
    # default note added into transactions - Deprecated
    default_note: SPV Wallet Address Resolution
    # enable paymail domain validation, paymail domain must be in domains list to be valid and that the transaction can be processed
    domain_validation_enabled: true
    enabled: true
    # validates sender signature during receiving transactions
    sender_validation_enabled: false
    # additional paymail domains that should be handled by this spv-wallet
    domains: []
  # show logs about incoming requests
  request_logging: true
  server_config:
    # maximum amount of time to wait for the next request when keep-alives are enabled. If IdleTimeout is zero, the value of ReadTimeout is used. If both are zero, there is no timeout
    idle_timeout: 1m0s
    # port of the http server
    port: 3003
    # maximum duration for reading the entire request, including the body. A zero or negative value means there will be no timeout
    read_timeout: 40s
    # maximum duration before timing out writes of the response. A zero or negative value means there will be no timeout
    write_timeout: 40s
  task_manager:
    # task manager factory - memory, redis
    factory: memory
  logging:
    # Logging level
    level: debug
    # Logging format: console/json
    format: console
    # Instance name shown as parameter in logs
    instance_name: spv-wallet
  metrics:
    enabled: true

ingress:
  enabled: true
  # Overrides global ingress controller configuration
  className: ""
  # Additional annotations for Ingress
  additionalAnnotations: {}
  # custom ingress paths defitions
  # example:
  # customPaths:
  #   - path: /swagger
  #     backend:
  #       service: my-404-service
  #       port:
  #         number: 80
  customPaths: []
  # Configuration used when treafik is used as ingress controller
  traefik:
    tls: true
    annotations:
      traefik.ingress.kubernetes.io/router.entrypoints: websecure

  # Configuration used when treafik is used as ingress controller
  alb:
    tls: false
    annotations:
      kubernetes.io/ingress.class: "alb"
      alb.ingress.kubernetes.io/scheme: internet-facing
      alb.ingress.kubernetes.io/group.name: alb-https
      alb.ingress.kubernetes.io/target-type: ip
      alb.ingress.kubernetes.io/ip-address-type: ipv4
      alb.ingress.kubernetes.io/ssl-policy: ELBSecurityPolicy-TLS-1-2-2017-01
      alb.ingress.kubernetes.io/listen-ports: '[{"HTTP": 80}, {"HTTPS":443}]'
      alb.ingress.kubernetes.io/ssl-redirect: '443'
      alb.ingress.kubernetes.io/actions.ssl-redirect: '{"Type": "redirect", "RedirectConfig": { "Protocol": "HTTPS", "Port": "443", "StatusCode": "HTTP_301"}}'

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

# Additional volumes on the output Deployment definition.
volumes: []

# Additional volumeMounts on the output Deployment definition.
volumeMounts: []

nodeSelector: {}

tolerations: []

affinity: {}

env: []

spv-wallet-admin-keygen:
  enabled: true

postgresql:
  enabled: true
  nameOverride: postgresql-spv-wallet
  auth:
    username: spvwallet
    database: spvwallet

  primary:
    persistentVolumeClaimRetentionPolicy:
      enabled: true
      whenDeleted: Delete

redis:
  enabled: true
  nameOverride: redis-spv-wallet
  architecture: standalone
  auth:
    enabled: false
  master:
    persistentVolumeClaimRetentionPolicy:
      enabled: true
      whenDeleted: Delete
    persistance:
      size: 1Gi
