apiVersion: v2
name: spv-wallet-stack
description: A Helm chart for deploying spv-wallet and related microservices stack

type: application

version: 0.4.0

appVersion: 0.4.0

dependencies:
  - name: bux-server
    condition: bux-server.enabled
    version: 0.4.0
  - name: block-headers-service
    condition: block-headers-service.enabled
    version: 0.4.0
  - name: bux-console
    condition: bux-console.enabled
    version: 0.4.0
  - name: bux-wallet
    condition: bux-wallet.enabled
    version: 0.4.0
