spv-wallet:
  enabled: true
  ingressControllers:
    - alb

block-headers-service:
  enabled: true
  ingressControllers:
    - alb

spv-wallet-admin:
  enabled: true
  ingressControllers:
    - alb

spv-wallet-web:
  enabled: true
  ingressControllers:
    - alb

global:
  domainName: domain.name
  certificate_arn: arn:aws:acm:us-east-1:123456789012:certificate/d9fdef7f-baef-4189-87bd-86e28b24c53e
  tls: false
  adminkeySecret: spv-wallet-keys
  pubkey: admin_xpub
  prvkey: admin_xpriv
