apiVersion: v1
kind: Secret
metadata:
  name: {{ include "spv-wallet.fullname" . }}
  labels:
    {{- include "spv-wallet.labels" . | nindent 4 }}
type: Opaque
data:
  {{- $token := ""}}
  {{- if .Values.config.nodes.callback.callback_token }}
    {{- $token = (.Values.config.arc.callback.token | b64enc) }}
  {{- else }}
    {{- $secretObj := (lookup "v1" "Secret" .Release.Namespace (include "spv-wallet.fullname" .)) | default dict }}
    {{- $secretData := (get $secretObj "data") | default dict }}
    {{- $token = (get $secretData "callback_token") | default (randAlphaNum 32 | b64enc) }}
  {{- end }}
  callback_token: {{ $token | quote }}

  {{- if .Values.config.paymail.beef.block_headers_service_auth_token }}
  block-headers-service-auth-token: {{ .Values.config.paymail.beef.block_headers_service_auth_token | b64enc | quote }}
  {{- end }}
